/* root ikut footer.css */
*{
	margin: 0;
	padding: 0;
}

.navbar{
	padding: 2.5rem 5% 0 10%;
	width: 100%;
	max-width: 2000px;
	top: 0px;
	position: fixed;
	z-index: 2;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto 4fr;
	align-items: center;
	background: transparent;
	transition: padding 1.5s;
	/* border: 1px solid black; */
}
.navbar[data-navbar="shrink"]{
	transition: .5s ease-out;
	/* padding: .53rem 10% 0 10%; */
	padding: .53rem 10% .5rem 10%;
	background: white; 
}
.navbar > * {
	/* background: violet; */
	/* border: 1px solid black; */
}

.navbar .logo{
	height: 3.3rem;
	width: fit-content;
	background: none;
}
.navBrand{
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #16191d;
	margin: 0 0px 0 15px;
	font-weight: var(--fw-medium);
	/* background: brown; */
	width: min-content;
	transition: .5s;
	font-family: 'Press Start 2P', cursive;
}
.navItem,.navLinkWrap{
	/* border: 1px solid black; */
}
.navLinks{
	display: grid;
	grid-template-columns: repeat(5,max-content);
	/* background: blueviolet; */
	grid-gap: 30px;
	justify-content: end;
	/* margin-right: 10vw; */
}
.navLinkWrap a{
	text-transform: capitalize;
	/* font-weight: bold; */
	text-decoration: none;
	color: black;
	/* color: #171717; */
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
}
.navLinkWrap{
	position: relative;
}
.navLinkWrap .hover{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 2px;
	transition: .2s;
	background: #2F97F0;
}
.navLinkWrap .hover.active{
	width: 100%;
}
.navLinkWrap:hover .hover{
	width: 100%;
}
.navLinkWrap a::before :hover{
	/* font-weight: 600; */
	width: 80%;
	background: chartreuse;
	/* color: rgba(0, 0, 0, 0.619);
	text-shadow: 1px slategrey; */
}
.navLinkWrap i{
	margin-right: 7px;
	font-size: var(--fsM);
}
.navLink.home{
	display: none;
}

.headnavmobile{
	display: none;
}
.navbarWA{
	position: fixed;
	bottom: 0;
	right: 10px;
	max-width: min(35%,150px);
	z-index: 4;
	transition: .3s;
}
.navbarWA img{
	width: 100%;
}
.navbarWA:hover{
	transform: scale(1.1);
}

/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
@media only screen and (max-width: 1400px){}
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
@media only screen and (max-width: 1200px){}
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !-----------------------------TAB----------------------------------------- */
@media only screen and (max-width: 1000px){
	.navbar{
		padding: 2.5rem 1% 0 5%;
	}
	.navbar[data-navbar="shrink"]{
		padding: .53rem 1% .5rem 5%;
	}
}
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !--------------------------------NORMAL PONSEL-------------------------------------- */
@media only screen and (max-width: 700px){
	.navbar{
		padding: 0rem 9% 0 9%;
		height: 45px;
		width: 100%;
		max-width: unset;
		display: grid;
		grid-template-columns: .3fr 1fr 1fr;
		align-items: center;
		background: #2F97F0;
		transition: padding 1.5s;
		/* border: 1px solid black; */
	}
	.navbar[data-navbar="shrink"]{
		transition: .5s ease-out;
		padding: 0rem 9% 0 9%;
		background: #2F97F0;
	}
	.navbar > * {
		/* background: violet; */
		/* border: 1px solid black !important; */
	}
	.navbar i{
		justify-self: end;
		color: whitesmoke;
		font-size: 2rem;
		margin: 0 0% 0 0;
	}
	.navbar .logo{
		height: 2.5rem;
		background: none;
		margin-left: 0%;
	}
	.navBrand{
		font-size: 1.6rem;
		text-transform: uppercase;
		color: whitesmoke;
		margin: 0 0 0 5%;
		font-weight: var(--fw-medium);
		/* background: brown; */
		width: min-content;
		transition: .5s;
		font-family: 'Press Start 2P', cursive;
	}
	.navItem,.navLinkWrap{
		/* border: 1px solid black; */
	}
	.navLinks{
		background: gray;
		display: grid;
		grid-template-columns: unset;
		grid-gap: 0px;
		width: 100%;

			justify-content: unset;
			transform: translateY(-50%);
			transition: .1s ease-in-out;
			position: absolute;
			bottom: 0;
			left: 0;
	}
		.navLinks.show{
			transform: translateY(100%) !important;
		}
	.navLinkWrap{
			
			/* border: 1px solid black; */
			display: flex;			
			justify-content: center;
	}
	.navLinkWrap a{
		/* border: 1px solid black; */
		font-size: medium;
		text-transform: capitalize;
		text-decoration: none;
		color: whitesmoke;
		height: 50px;
		display: flex;
		align-items: center;

			/* margin: 0 0 0 80%; */
			/* width: 100%; */
			/* background: #000; */
	}
	.navLinkWrap a:hover{
		/* font-weight: 600; */
		color: rgba(0, 0, 0, 0.619);
		text-shadow: 1px slategrey;
	}
	.navLinkWrap i{
		margin-right: 7px;
		font-size: var(--fsM);
	}
	
}
/* !---------------------------------------------------------------------- */
/* !---------------------------------------------------------------------- */
/* !----------------------------SMALL PONSEL------------------------------------------ */
@media only screen and (max-width: 576px){}



